VOTRA_NETWORK=sepolia
VOTRA_REOWN_PROJECT_ID=
VOTRA_RPC_URL=
VOTRA_PRIVATE_KEY=
VOTRA_CONTRACT_ADDRESS=
ETHERSCAN_API_KEY=
VOTRA_PARTICIPANT_B_PRIVATE_KEY=
VOTRA_PARTICIPANT_C_PRIVATE_KEY=
VOTRA_PARTICIPANT_B_ADDRESS=
VOTRA_PARTICIPANT_C_ADDRESS=
